
.navbar-fixed{
    position: fixed;
    width: 100%;
}

.navbar-content{
    padding: 20px 25px;
    display: flex;
    align-items: center;
   justify-content: space-between;
   height: 35px;
   color: hsl(233, 8%, 62%);
   
}

.navbar-logo{
    width: 170px;
    object-fit: contain;
}

.navbar-md-list{
    display: none;
    position: relative;

}
.navbar-md-list li{
    position: relative;
}

.navbar-md-list li:hover:before{
    content: "";
    position: absolute;
    bottom: -28px;
    height: 3px;
    width: 100%;
    background-image: linear-gradient(to right, hsl(192, 70%, 51%), hsl(136, 65%, 51%))
}

.navbar-button-box{
    display: none;
}

.navbar-button-toggle{
    background:none;
    border: none;
}

.navbar-button-toggle svg{
   font-size: 25px;
}

.navbar-sm-list-box{
    display: flex;
    justify-content: center;
}

.navbar-sm-list{
    position: fixed;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   
    width: 85%;
    margin-top: 100px;
    list-style: none;
    gap: 15px;
    padding: 25px 0;
}

ul li{
    cursor: pointer;
}

@media (min-width:768px){
    .navbar-sm-list{
       display: none;
    }

    .navbar-md-list{
        display: block;
        display: flex;
        list-style: none;
        gap: 20px;
    }

    .navbar-button-box{
        display: block;
    }

    .navbar-button-toggle{
        display: none;
    }
 
}

@media (min-width:900px){

    .navbar-content{
        padding: 20px 100px;
       
       
    }

}

@media (min-width:1200px){

    .navbar-content{
        padding: 20px 150px;
       
       
    }

}


@media (min-width:2000px){

    .navbar-content{
        padding: 20px 300px;
       
       
    }

}

