@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  font-size: 16px;
  font-family: 'Public Sans', sans-serif;
}

h1,
p, ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

h1,
h4 {
  color: hsl(233, 26%, 24%);
}

ul li{
  list-style: none;
}