.banner-main-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
padding-bottom: 80px;
  background-color: hsl(0, 0%, 100%);
}

.banner-right-box {
  flex-basis: 100%;
  height: 50vh;
  width: 100%;
  background: left/cover no-repeat;
}

.banner-right-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-left-box {
  margin-top: 20px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 0 0 50px;
}

.banner-left-box h1 {
  font-size: 50px;
  text-align: center;
  color: hsl(233, 26%, 24%);
}

.banner-left-box p {
  line-height: 2;
  color: hsl(233, 8%, 62%);
}

@media (min-width: 850px) {
  .banner-main-box {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 0;
  }
  .banner-right-box {
    flex-basis: 60%;
    position: relative;
   
    
  }

  .banner-right-box img {
    position: absolute;
    bottom: -70px;

  }

  .banner-left-box {
   
    flex-basis: 30%;
    align-items: flex-start;
    margin-top: 0;
    justify-content: start;
  }

  .banner-left-box h1 {
    text-align: start;
    font-size: 30px;
    font-weight: 400;
  }
}
